#line-chart {
	position: fixed;
	top: 50%;
	height: 24.5%;
	width: 100%;
}
#line-chart-image {
	width: 80%;
	position: absolute;
	left: 0;
	height: 100%;
	background: #555;
	background-image: url('/css/Wheat_prices.png');
	background-size: contain;
}
#line-chart-right {
	width: 20%;
	position: absolute;
	right: 0;
	height: 100%;
}
#line-chart-select {
	width: 100%;
	height: 100%;
	outline: none;
}